.homeBg {
    background-image: url('../../assets/bg1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    min-height: 100vh;
}

.container {
    display: flex;
    margin: 1em 3em 0em 3em;
    gap: 3em;
}

.line {
    height: 30em;
    width: .3em;
    background-color: white;
}

@media (max-width: 480px) {
    .container {
        flex-direction: column;
    }
}